# Análise dos dados do Enem no ano de 2021

In [23]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

dados = pd.read_csv('/content/drive/MyDrive/dados_Enem/microdados_enem_2021/DADOS/MICRODADOS_ENEM_2021.csv', encoding='latin1', sep=';')

dados.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B

In [27]:
linhas_colunas = list(dados.shape)
qtde_linhas = linhas_colunas[0]
qtde_colunas = linhas_colunas[1]

print(f'A base de dados possui {qtde_linhas} linhas e {qtde_colunas} colunas')

A base de dados possui 3389832 linhas e 76 colunas

In [29]:
total_de_candidatos = len(dados['NU_INSCRICAO'])
print(f'Total de candidatos: {total_de_candidatos}')

Total de candidatos: 3389832

In [30]:
# sabendo o nome das colunas
dados.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'], dtype=object)

In [31]:
# estados distintos
dados['SG_UF_PROVA'].unique()

array(['MG', 'AL', 'SP', 'CE', 'RS', 'BA', 'GO', 'RN', 'PA', 'RJ', 'MT',
       'PE', 'MA', 'RO', 'SE', 'PR', 'PB', 'PI', 'ES', 'DF', 'TO', 'AM',
       'SC', 'AP', 'MS', 'RR', 'AC'], dtype=object)

In [32]:
# quantidade de estados
len(dados['SG_UF_PROVA'].unique())

27

In [46]:
# quantidade de candidatos por idade
candidato_menor_17_anos = len(dados.query('TP_FAIXA_ETARIA == 1'))
candidato_17_anos = len(dados.query('TP_FAIXA_ETARIA == 2'))
candidato_18_anos = len(dados.query('TP_FAIXA_ETARIA == 3'))
candidato_19_anos = len(dados.query('TP_FAIXA_ETARIA == 4'))
candidato_20_anos = len(dados.query('TP_FAIXA_ETARIA == 5'))
candidato_21_anos = len(dados.query('TP_FAIXA_ETARIA == 6'))
candidato_22_anos = len(dados.query('TP_FAIXA_ETARIA == 7'))
candidato_23_anos = len(dados.query('TP_FAIXA_ETARIA == 8'))
candidato_24_anos = len(dados.query('TP_FAIXA_ETARIA == 9'))
candidato_25_anos = len(dados.query('TP_FAIXA_ETARIA == 10'))
candidato_26_30_anos = len(dados.query('TP_FAIXA_ETARIA == 11'))
candidato_31_35_anos = len(dados.query('TP_FAIXA_ETARIA == 12'))
candidato_36_40_anos = len(dados.query('TP_FAIXA_ETARIA == 13'))
candidato_41_45_anos = len(dados.query('TP_FAIXA_ETARIA == 14'))
candidato_46_50_anos = len(dados.query('TP_FAIXA_ETARIA == 15'))
candidato_51_55_anos = len(dados.query('TP_FAIXA_ETARIA == 16'))
candidato_56_60_anos = len(dados.query('TP_FAIXA_ETARIA == 17'))
candidato_61_65_anos = len(dados.query('TP_FAIXA_ETARIA == 18'))
candidato_66_70_anos = len(dados.query('TP_FAIXA_ETARIA == 19'))
candidato_maior_70_anos = len(dados.query('TP_FAIXA_ETARIA == 20'))

print(f'''
{candidato_menor_17_anos} candidatos menores de 17 anos
{candidato_17_anos} candidatos com 17 anos
{candidato_18_anos} candidatos com 18 anos
{candidato_19_anos} candidatos com 19 anos
{candidato_20_anos} candidatos com 20 anos
{candidato_21_anos} candidatos com 21 anos
{candidato_22_anos} candidatos com 22 anos
{candidato_23_anos} candidatos com 23 anos
{candidato_24_anos} candidatos com 24 anos
{candidato_25_anos} candidatos com 25 anos
{candidato_26_30_anos} candidatos entre 26 e 30 anos
{candidato_31_35_anos} candidatos entre 31 e 35 anos
{candidato_36_40_anos} candidatos entre 36 e 40 anos
{candidato_41_45_anos} candidatos entre 41 e 45 anos
{candidato_46_50_anos} candidatos entre 46 e 50 anos
{candidato_51_55_anos} candidatos entre 51 e 55 anos
{candidato_56_60_anos} candidatos entre 56 e 60 anos
{candidato_61_65_anos} candidatos entre 61 e 65 anos
{candidato_66_70_anos} candidatos entre 66 e 70 anos
{candidato_maior_70_anos} candidatos acima de 70 anos
''')

# representatividade
rep_candidato_menor_17_anos = candidato_menor_17_anos / total_de_candidatos * 100
rep_candidato_17_anos = candidato_17_anos / total_de_candidatos * 100
rep_candidato_18_anos = candidato_18_anos / total_de_candidatos * 100
rep_candidato_19_anos = candidato_19_anos / total_de_candidatos * 100
rep_candidato_20_anos = candidato_20_anos / total_de_candidatos * 100
rep_candidato_21_anos = candidato_21_anos / total_de_candidatos * 100
rep_candidato_22_anos = candidato_22_anos / total_de_candidatos * 100
rep_candidato_23_anos = candidato_23_anos / total_de_candidatos * 100
rep_candidato_24_anos = candidato_24_anos / total_de_candidatos * 100
rep_candidato_25_anos = candidato_25_anos / total_de_candidatos * 100
rep_candidato_26_30_anos = candidato_26_30_anos / total_de_candidatos * 100
rep_candidato_31_35_anos = candidato_31_35_anos / total_de_candidatos * 100
rep_candidato_36_40_anos = candidato_36_40_anos / total_de_candidatos * 100
rep_candidato_41_45_anos = candidato_41_45_anos / total_de_candidatos * 100
rep_candidato_46_50_anos = candidato_46_50_anos / total_de_candidatos * 100
rep_candidato_51_55_anos = candidato_51_55_anos / total_de_candidatos * 100
rep_candidato_56_60_anos = candidato_56_60_anos / total_de_candidatos * 100
rep_candidato_61_65_anos = candidato_61_65_anos / total_de_candidatos * 100
rep_candidato_66_70_anos = candidato_66_70_anos / total_de_candidatos * 100
rep_candidato_maior_70_anos = candidato_maior_70_anos / total_de_candidatos * 100

print(f'''
{rep_candidato_menor_17_anos:.2f}% dos candidatos são menores de 17 anos
{rep_candidato_17_anos:.2f}% dos candidatos tem 17 anos
{rep_candidato_18_anos:.2f}% dos candidatos tem 18 anos
{rep_candidato_19_anos:.2f}% dos candidatos tem 19 anos
{rep_candidato_20_anos:.2f}% dos candidatos tem 20 anos
{rep_candidato_21_anos:.2f}% dos candidatos tem 21 anos
{rep_candidato_22_anos:.2f}% dos candidatos tem 22 anos
{rep_candidato_23_anos:.2f}% dos candidatos tem 23 anos
{rep_candidato_24_anos:.2f}% dos candidatos tem 24 anos
{rep_candidato_25_anos:.2f}% dos candidatos tem 25 anos
{rep_candidato_26_30_anos:.2f}% dos candidatos tem entre 26 e 30 anos
{rep_candidato_31_35_anos:.2f}% dos candidatos tem entre 31 e 35 anos
{rep_candidato_36_40_anos:.2f}% dos candidatos tem entre 36 e 40 anos
{rep_candidato_41_45_anos:.2f}% dos candidatos tem entre 41 e 45 anos
{rep_candidato_46_50_anos:.2f}% dos candidatos tem entre 46 e 50 anos
{rep_candidato_51_55_anos:.2f}% dos candidatos tem entre 51 e 55 anos
{rep_candidato_56_60_anos:.2f}% dos candidatos tem entre 56 e 60 anos
{rep_candidato_61_65_anos:.2f}% dos candidatos tem entre 61 e 65 anos
{rep_candidato_66_70_anos:.2f}% dos candidatos tem entre 66 e 70 anos
{rep_candidato_maior_70_anos:.2f}% dos candidatos estão acima de 70 anos
''')

274318 candidatos menores de 17 anos
620784 candidatos com 17 anos
699365 candidatos com 18 anos
394689 candidatos com 19 anos
250690 candidatos com 20 anos
177086 candidatos com 21 anos
132052 candidatos com 22 anos
100580 candidatos com 23 anos
85742 candidatos com 24 anos
71199 candidatos com 25 anos
227574 candidatos entre 26 e 30 anos
130746 candidatos entre 31 e 35 anos
93073 candidatos entre 36 e 40 anos
58754 candidatos entre 41 e 45 anos
35808 candidatos entre 46 e 50 anos
20564 candidatos entre 51 e 55 anos
10804 candidatos entre 56 e 60 anos
4102 candidatos entre 61 e 65 anos
1342 candidatos entre 66 e 70 anos
560 candidatos acima de 70 anos


8.09% dos candidatos são menores de 17 anos
18.31% dos candidatos tem 17 anos
20.63% dos candidatos tem 18 anos
11.64% dos candidatos tem 19 anos
7.40% dos candidatos tem 20 anos
5.22% dos candidatos tem 21 anos
3.90% dos candidatos tem 22 anos
2.97% dos candidatos tem 23 anos
2.53% dos candidatos tem 24 anos
2.10% dos candidatos tem 25 anos
6.71% dos candidatos tem entre 26 e 30 anos
3.86% dos candidatos tem entre 31 e 35 anos
2.75% dos candidatos tem entre 36 e 40 anos
1.73% dos candidatos tem entre 41 e 45 anos
1.06% dos candidatos tem entre 46 e 50 anos
0.61% dos candidatos tem entre 51 e 55 anos
0.32% dos candidatos tem entre 56 e 60 anos
0.12% dos candidatos tem entre 61 e 65 anos
0.04% dos candidatos tem entre 66 e 70 anos
0.02% dos candidatos estão acima de 70 anos

In [49]:
# quantidade de candidatos por sexo
candidato_masculino = len(dados.query("TP_SEXO == 'M'"))
candidato_feminino = len(dados.query("TP_SEXO == 'F'"))

print(f'''
{candidato_masculino} candidatos são do sexo masculino
{candidato_feminino} candidatos são do sexo feminino
''')

# representatividade
rep_candidato_masculino = candidato_masculino / total_de_candidatos * 100
rep_candidato_feminino = candidato_feminino / total_de_candidatos * 100

print(f'''
{rep_candidato_masculino:.2f}% dos candidatos são do sexo masculino
{rep_candidato_feminino:.2f}% dos candidatos são do sexo feminino
''')

1299306 candidatos são do sexo masculino
2090526 candidatos são do sexo feminino


38.33% dos candidatos são do sexo masculino
61.67% dos candidatos são do sexo feminino

In [45]:
# quantidade de candidatos por raça
candidato_branco = len(dados.query('TP_COR_RACA == 1'))
candidato_negro = len(dados.query('TP_COR_RACA == 2'))
candidato_pardo = len(dados.query('TP_COR_RACA == 3'))
candidato_amarelo = len(dados.query('TP_COR_RACA == 4'))
candidato_indigena = len(dados.query('TP_COR_RACA == 5'))

print(f'''
{candidato_branco} candidatos brancos
{candidato_negro} candidatos negros
{candidato_pardo} candidatos pardos
{candidato_amarelo} candidatos amarelos
{candidato_indigena} candidatos indígenas
''')

# representatividade
rep_candidato_branco = candidato_branco / total_de_candidatos * 100
rep_candidato_negro = candidato_negro / total_de_candidatos * 100
rep_candidato_pardo = candidato_pardo / total_de_candidatos * 100
rep_candidato_amarelo = candidato_amarelo / total_de_candidatos * 100
rep_candidato_indigena = candidato_indigena / total_de_candidatos * 100

print(f'''
{rep_candidato_branco:.2f}% dos candidatos são brancos
{rep_candidato_negro:.2f}% dos candidatos são negros
{rep_candidato_pardo:.2f}% dos candidatos são pardos
{rep_candidato_amarelo:.2f}% dos candidatos são amarelos
{rep_candidato_indigena:.2f}% dos candidatos são indígenas
''')

1362256 candidatos brancos
411302 candidatos negros
1457454 candidatos pardos
68491 candidatos amarelos
19175 candidatos indígenas


40.19% dos candidatos são brancos
12.13% dos candidatos são negros
42.99% dos candidatos são pardos
2.02% dos candidatos são amarelos
0.57% dos candidatos são indígenas